In [1]:
import sqlite3


db = sqlite3.connect('library.db')
cursor = db.cursor()

# 1. Create the Authors table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS authors (
        author_id INTEGER PRIMARY KEY,
        name TEXT NOT NULL
    )
''')


cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        book_id INTEGER PRIMARY KEY,
        title TEXT NOT NULL,
        year INTEGER,
        author_id INTEGER,
        FOREIGN KEY (author_id) REFERENCES authors (author_id)
    )
''')

db.commit()
print("Database and tables created successfully!")

Database and tables created successfully!

In [3]:
cursor.execute("INSERT INTO authors (name) VALUES ('Rick Riordan')")

In [4]:
cursor.execute("INSERT INTO books (title, year, author_id) VALUES ('Percy Jackson', 2010, 1)")

In [5]:
db.commit()

In [6]:
print(db)

<sqlite3.Connection object at 0x000001A262367970>

In [12]:
cursor.execute("SELECT * FROM books")


all_books = cursor.fetchall()
print("--- My Book Collection ---")
for book in all_books:
    print(book)

--- My Book Collection ---
(1, 'Percy Jackson', 2010, 1)

In [8]:
query = """
SELECT books.title, authors.name 
FROM books 
JOIN authors ON books.author_id = authors.author_id
"""

cursor.execute(query)
results = cursor.fetchall()

for row in results:
    print(f"Book: {row[0]} | Author: {row[1]}")

Book: Percy Jackson | Author: Rick Riordan

In [10]:
target_year = 2010
query = "SELECT title FROM books WHERE year = ?"

cursor.execute(query, (target_year,))
results = cursor.fetchall()

print(f"--- Books from {target_year} ---")
if results:
    for row in results:
        print(f"- {row[0]}")
else:
    print("No books found for that year.")

--- Books from 2010 ---
- Percy Jackson